/* reset pagina  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general */
body{
    background-color: #083b4c;
}
/* main */
.container{
    width: 80%;
    margin: auto;
}
h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
}
/* tabella  */
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.5rem;
}
.list li{
    width: 100px;
    height: 100px;
    margin: .5rem;
    text-align: center;
    line-height: 100px;
}
/* utility */
.number{
    background-color: #1289b2;
}
.fizz{
    background-color: #0bd6a1;
}
.buzz{
    background-color: #ffd167;
}
.fizzBuzz{
    background-color: #f0466f;
}